<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Edit Contact</p>
            <p class="fst-italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta cumque non natus quo aliquam nulla ex, dolor quasi incidunt velit repudiandae? Doloribus odio aperiam, earum et enim nihil saepe voluptate?</p>
        </div>
    </div>
</div>

<!-- Edit Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-3">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control" placeholder="Photo Url" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control" placeholder="Email" type="email">
                </div>
                <div class="mb-3">
                    <input class="form-control" placeholder="Mobile Number" type="number">
                </div>
                <div class="mb-3">
                    <input class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input class="btn btn-danger" value="Update" type="textbmit">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-image" src="https://www.citypng.com/public/uploads/small/11640168385jtmh7kpmvna5ddyynoxsjy5leb1nmpvqooaavkrjmt9zs7vtvuqi4lcwofkzsaejalxn7ggpim4hkg0wbwtzsrp1ldijzbdbsj5z.png" alt="">
        </div>
    </div>
</div>